src/main/mule/multiple-wsdl-papi.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:batch="http://www.mulesoft.org/schema/mule/ee/batch" xmlns:bti="http://www.mulesoft.org/schema/mule/ee/bti" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:http-policy="http://www.mulesoft.org/schema/mule/mule-http" xmlns:kryo="http://www.mulesoft.org/schema/mule/kryo" xmlns:module="http://www.mulesoft.org/schema/mule/module" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="api-main">
        <http:listener path="/soap/*" config-ref="api-httpListenerConfig">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]>
                </http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]>
                </http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]>
                </http:headers>
            </http:error-response>
        </http:listener>
        <choice>
            <when expression="#[attributes.headers['SOAPAction'] contains 'calculator']">
                <apikit-soap:router config-ref="soapkit-config-calculator" doc:name="SOAP Router Calculator">
                    <apikit-soap:attributes>#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
                </apikit-soap:router>
            </when>
            <when expression="#[attributes.headers['SOAPAction'] contains 'helloworld']">
                <apikit-soap:router config-ref="soapkit-config-helloworld" doc:name="SOAP Router HelloWorld">
                    <apikit-soap:attributes>#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
                </apikit-soap:router>
            </when>
            <otherwise>
                <set-payload doc:id="bb7918f8-0611-4565-bb2f-ad2ebf553a77" doc:name="Set Error Response" value="#[&quot;Unsupported Service&quot;]"/>
            </otherwise>
        </choice>
    </flow>
    <flow doc:id="876a2332-52af-41c1-98bc-16710ef13e57" name="Add:\soapkit-config-calculator">
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope
ns cal http://example.com/calculator
---
{
    soapenv#Body: {
        cal#AddResponse: {
            result: payload.body.AddRequest.num1 + payload.body.AddRequest.num2 default 0
        }
    }
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/xml
---
payload]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="Sub:\soapkit-config-calculator">
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope
ns cal http://example.com/calculator
---
{
    soapenv#Body: {
        cal#SubResponse: {
            result: payload.body.SubRequest.num1 - payload.body.SubRequest.num2 default 0
        }
    }
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow doc:id="13dbb354-5a12-49fe-8aa3-dcd0b75cafa9" name="sayHello:\soapkit-config-helloworld">
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope
ns hel http://example.com/helloworld
---
{
    soapenv#Body: {
        hel#sayHelloResponse: {
            greeting: payload.body.sayHelloRequest.name default ""
        }
    }
}


//{
  //  body: {
    //    soap#Fault: {
      //      faultcode: "soap:Server",
        //    faultstring: "Operation [sayHello:\soapkit-config] not implemented"
        //}
    //} write "application/xml"
//}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="serve-dynamic-wsdl">
        <http:listener config-ref="wsdl-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]"/>
            <http:error-response statusCode="#[vars.httpStatus default 500]"/>
        </http:listener>
        <ee:transform doc:name="uriParameter">
            <ee:variables>
                <ee:set-variable variableName="uriParameter">
                    <![CDATA[%dw 2.0
output application/json
---
lower(attributes.maskedRequestPath) default ""]]>
                </ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="serviceName, portName, wsdlLocation">
            <ee:variables>
                <ee:set-variable variableName="serviceName">
                    <![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
---
p("wsdl." ++ substringBeforeLast(substringAfter(vars.uriParameter, "/"),"/"))]]>
                </ee:set-variable>
                <ee:set-variable variableName="portName">
                    <![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
---
p("wsdl."++ substringAfterLast(vars.uriParameter,"/"))]]>
                </ee:set-variable>
                <ee:set-variable variableName="wsdlLocation">
                    <![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
---
p("wsdl."++ substringAfterLast(vars.uriParameter,"/") ++ ".location")]]>
                </ee:set-variable>
            </ee:variables>
        </ee:transform>
        <choice>
            <when expression="#[(!isEmpty(vars.serviceName) and !isEmpty(vars.portName)and !isEmpty(vars.wsdlLocation))]">
                <apikit-soap:router config-ref="soapkit-config-common" doc:id="d0d3182d-ea78-4f5e-b6d2-8e5115457dc5" doc:name="SOAP Router coomon">
                    <apikit-soap:attributes>#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
                </apikit-soap:router>
            </when>
            <otherwise>
                <ee:transform doc:name="404-WSDL not found">
                    <ee:message>
                        <ee:set-payload><![CDATA["WSDL not found for " ++ attributes.maskedRequestPath default ""]]>
                        </ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]>
                        </ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="ERROR" message="WSDL not found for #[vars.uriParameter]"/>
            </otherwise>
        </choice>
    </flow>
    <flow doc:id="4ee0071b-36f8-4b47-aa6c-6336eebc1680" name="Add:\soapkit-config-common">
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope
ns cal http://example.com/calculator
---
{
    soapenv#Body: {
        cal#AddResponse: {
            result: payload.body.AddRequest.num1 + payload.body.AddRequest.num2 default 0
        }
    }
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/xml
---
payload]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="Sub:\soapkit-config-common">
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope
ns cal http://example.com/calculator
---
{
    soapenv#Body: {
        cal#SubResponse: {
            result: payload.body.SubRequest.num1 - payload.body.SubRequest.num2 default 0
        }
    }
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow doc:id="d5ba5006-828e-4e46-a622-fec0d4077578" name="sayHello:\soapkit-config-common">
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope
ns hel http://example.com/helloworld
---
{
    soapenv#Body: {
        hel#sayHelloResponse: {
            greeting: payload.body.sayHelloRequest.name default ""
        }
    }
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
